
TicTacToe.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
TicTacToe.xcodeproj/project.xcworkspace/xcuserdata/serhii.chelak.xcuserdatad/UserInterfaceState.xcuserstate
TicTacToe.xcodeproj/xcuserdata/serhii.chelak.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TicTacToe.xcodeproj/xcuserdata/serhii.chelak.xcuserdatad/xcschemes/xcschememanagement.plist
